<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side-bar" %>
  </div>
  <div class="main">
    <%# 選択項目毎の表示 %>
    <div class="main-title">在庫一覧</div>
    <div class='output-btn'>
      <%= link_to 'CSV出力', stocks_path(format: :csv), class:"output-red-btn" %>
    </div>
    <div class="main-content">
      <table>
        <tr>
          <th>部品コード</th>
          <th>部品名</th>
          <th>仕入先名</th>
          <th>仕入単価(税抜)</th>
          <th>入庫数</th>
          <th>出庫数</th>
          <th>在庫数</th>
        </tr>
        <% @parts.each do |part| %>
          <tr>
            <td><%= link_to part.id, "#", class: "part-id" %></td>
            <td><%= part.part_name %></td>
            <td><%= part.client.client_name %></td>
            <td><%= part.purchase_price %></td>
            <td><%= Purchase.totle_purchase_quantity(part.id) %></td>
            <td><%= Sale.totle_sale_quantity(part.id) %></td>
            <td><%= Purchase.totle_purchase_quantity(part.id) - Sale.totle_sale_quantity(part.id) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
