<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side-bar" %>
  </div>
  <div class="main">
    <%# 選択項目毎の表示 %>
    <div class="main-title">在庫一覧</div>
    <div class='output-btn'>
      <%= link_to 'CSV出力', stocks_path(format: :csv), class:"output-red-btn" %>
    </div>
    
    
    <%= form_with url: search_stocks_path, id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>
      <div class="search-group">
        <div class='form-text-wrap'>
          <label class="form-text">在庫数確認日</label>
        </div>
        <div class="search-form-group">
          <div class='input-birth-wrap'>
            <%= raw sprintf(
                        f.date_select(
                          :arrival_day,
                          class:'select-birth',
                          id:"arrival-day",
                          use_month_numbers: true,
                          prompt:'--',
                          start_year: Time.now.year,
                          end_year: 2000,
                          date_separator: '%s'),
                        "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>
          <div>
            <%= f.submit "確認" ,class:"search-btn", id:"button" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="main-content">
      <table>
        <tr>
          <th>部品コード</th>
          <th>部品名</th>
          <th>仕入先名</th>
          <th>仕入単価(税抜)</th>
          <th>入庫数</th>
          <th>出庫数</th>
          <th>在庫数</th>
        </tr>
        <% @parts.each do |part| %>
          <tr>
            <td><%= link_to part.id, "#", class: "part-id" %></td>
            <td><%= part.part_name %></td>
            <td><%= part.client.client_name %></td>
            <td><%= part.purchase_price %></td>
            <td><%= Purchase.totle_purchase_quantity(part.id) %></td>
            <td><%= Sale.totle_sale_quantity(part.id) %></td>
            <td><%= Purchase.totle_purchase_quantity(part.id) - Sale.totle_sale_quantity(part.id) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
