<div class="side-bar-title">
  入荷管理
</div>
<ul class="side-bar-lists">
  <li class="side-bar-list"><%= link_to '入荷一覧', "#", class: "side-bar-list-content" %></li>
  <li class="side-bar-list"><%= link_to '入荷登録', "#", class: "side-bar-list-content" %></li>
</ul>

<div class="side-bar-title">
  出荷管理
</div>
<ul class="side-bar-lists">
  <li class="side-bar-list"><%= link_to '出荷一覧', "#", class: "side-bar-list-content" %></li>
  <li class="side-bar-list"><%= link_to '出荷登録', "#", class: "side-bar-list-content" %></li>
</ul>

<div class="side-bar-title">
  在庫管理
</div>
<ul class="side-bar-lists">
  <li class="side-bar-list"><%= link_to '在庫一覧', "#", class: "side-bar-list-content" %></li>
</ul>

<div class="side-bar-title">
  部品管理
</div>
<ul class="side-bar-lists">
  <li class="side-bar-list"><%= link_to '部品一覧', parts_path, class: "side-bar-list-content" %></li>
  <li class="side-bar-list"><%= link_to '部品登録', new_part_path, class: "side-bar-list-content" %></li>
</ul>

<div class="side-bar-title">
  仕入先管理
</div>
<ul class="side-bar-lists">
  <li class="side-bar-list"><%= link_to '仕入先一覧', clients_path, class: "side-bar-list-content" %></li>
  <li class="side-bar-list"><%= link_to '仕入先登録', new_client_path, class: "side-bar-list-content" %></li>
</ul>